* {
    margin: 0px;
    padding: 0px;
}

/* VARIABLES */
:root {
    --white-blue: #e2f0f7;
    --deep-blue: #0e466b;
}



/* HEADER */



/* NAVIGATION */
nav {
    background-color: var(--deep-blue);
}

nav a {
    display: flex;
    justify-content: space-around;
}

a { 
    text-decoration: none;
    color: var(--white-blue);
    padding: 1px;
    margin-inline: 2px;
}

a:hover { 
    background-color: var(--white-blue);
}



/* BODY */
body {
    background-color: var(--white-blue);
}

.container {
    width: 90%;
    margin: auto;
}



/* IMAGES */
.right {
    float: right;
    clear: both;
}

.left {
    float: left;
    clear: both;
}



/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 956px) {
    
}