* {
    margin: 0px;
    padding: 0px;
}

/* VARIABLES */
:root {
    --white-blue: #e2f0f7;
    --deep-blue: #0e466b;
    --navy-blue: #0c012d;
}



/* HEADER */
header {
    text-align: center;
    margin: 2px;
    padding: 2px;
}



/* NAVIGATION */
nav {
    background-color: var(--deep-blue);
}

nav a {
    display: flex;
    justify-content: space-around;
}

a { 
    text-decoration: none;
    color: var(--white-blue);
    padding: 1px;
    margin-inline: 2px;
}

a:hover { 
    background-color: var(--white-blue);
}



/* BODY */
body {
    background-color: var(--white-blue);
    color: var(--navy-blue);
}

.container {
    width: 90%;
    margin: auto;
}



/* IMAGES */
.square-shape {
    width: 150px;
    height: 150px;
}

.portrait-shape {
    width: 100px;
    height: 175px;
}

.landscape-shape {
    width: 200px;
    height: 100px;
}

.right {
    float: right;
    clear: both;
}

.left {
    float: left;
    clear: both;
}



/* MEDIA QUERIES */
@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 956px) {
    
}